<div class=" m-2">
    <div class="max-w-sm min-w-80 mx-auto bg-yellow-200 p-6 rounded-2xl shadow-md">
        <h1 class="text-2xl font-bold text-center text-brown-600">IkWillem Snacks</h1>

        <ul class="mt-4">
            <li *ngFor="let snack of snacks" class="flex justify-between items-center bg-yellow-300 p-4 mt-2 rounded-full">
                <span class="text-lg">{{ snack.name }}</span>
                <div class="flex space-x-2">
                    <button (click)="decrementSnack(snack.id)" class="bg-red-500 text-white px-3 py-1 rounded-full">-</button>
                    <strong class="text-lg w-16 text-center">{{ snack.amount }}</strong>
                    <button (click)="incrementSnack(snack.id)" class="bg-green-500 text-white px-3 py-1 rounded-full">+</button>
                </div>
            </li>
        </ul>

        <div class="mt-10">
            <input [(ngModel)]="newSnack" placeholder="Snack naam" class="border p-4 rounded-full w-full mt-4" (keyup.enter)="addSnack()">

            <button (click)="addSnack()" class="bg-yellow-500 text-white p-2 rounded-full w-full mt-2 hover:bg-yellow-600">
                Snack toevoegen
            </button>
            <button (click)="clearSnackAmounts()" class="bg-gray-500 text-white p-2 rounded-full w-full mt-4 hover:bg-gray-600">
                Zet aantallen op 0
            </button>
        </div>

    </div>
</div>